html {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: black;
}

.active {
  color: #399bd1;
}

li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}
